<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="consumerKey" value="" /> <!-- your twitter consumer key goes here-->
    <add key="consumerSecret" value="" /> <!-- your twitter consumer secret goes here-->
    <add key="accessToken" value="" /><!-- your twitter access token goes here-->
    <add key="accessTokenSecret" value="" /><!-- your twitter access token secret goes here-->
    <add key="sncfApiUserName" value="" /> <!-- your transilien api user name goes here -->
    <add key="sncfApiPassword" value="" /> <!-- your transilien api password goes here-->
    <add key="sinceIdFileName" value=""/> <!-- path of the file holding your SinceId -->
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.28.0" newVersion="4.2.28.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="FSharp.Core" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.3.1.0" newVersion="4.3.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>